FsSnowGlobe/obj/
FsSnowGlobe/obj/x86/Debug/FsSnowGlobe.exe
FsSnowGlobe/obj/x86/Debug/FsSnowGlobe.g.resources
FsSnowGlobe/obj/x86/Debug/FsSnowGlobe.fsproj.FileListAbsolute.txt
/packages/
packages.config
FsSnowGlobe/bin/
ParticleEngine/bin/
ParticleEngine/obj/
*.pdb
*.suo